*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}

nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    padding: 5px 6.7px;
}

nav a:hover{
    text-decoration: underline;
    opacity: 0.85;
}

nav img{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}

nav img:hover{
    opacity: 0.8;
}

.sec1{
    flex: 1;
}

.sec1 .logo{
    /*display: block;
    margin: 0px auto;
    margin-top: 107px;*/
    display: block;
    margin: 100px auto 10px;
    cursor: pointer;
    position: relative;
    width: 380px;
    top: 80px;
}

.search{
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}

.search .s-inp{
    display: block;
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: 100ms;
    outline: none;
}

.search .s-inp:hover{
    border: 1px solid #fff;
}

.search .gmg{
    width: 20px;
    opacity: 0.4;
    position: absolute;
    top: 13px;
    left: 14px;

}

.search .gm{
    width: 14px;
    position: absolute;
    top: 13px;
    right: 24px;
}

footer{
    background: #f2f2f2;
}

footer h4{
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    line-height: 39.5px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
}
